@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#0B0B0F;

color:white;

}

header{

position:fixed;

top:0;

left:0;

width:100%;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(0,0,0,.4);

backdrop-filter:blur(15px);

z-index:1000;

}

.logo{

font-size:32px;

font-weight:700;

color:#FACC15;

letter-spacing:2px;

}

nav{

display:flex;

gap:35px;

}

nav a{

color:white;

text-decoration:none;

font-size:17px;

transition:.3s;

}

nav a:hover{

color:#00E5FF;

}

.quote-btn{

padding:12px 25px;

background:linear-gradient(90deg,#7C3AED,#00E5FF);

border-radius:30px;

text-decoration:none;

color:white;

font-weight:600;

transition:.3s;

}

.quote-btn:hover{

transform:translateY(-4px);

box-shadow:0 0 20px #7C3AED;

}